In [ ]:
# Variable :--
# Naming Conventions:--

# 1) alphanumeric Charcaters and underscore Characters
# _abc
# a_b_c
# abc
# abc_

# 2) A variable cannot begin with Number
# 45abc
# 87bc
# 78nsjdj

# _546sjas

# age =
# Name =
# Hobby =

# 3) Variables are case Sensitive:--
# age =
# AGE =

# Independent
# IndePendent


# 4) variables names should not  be reserved word or Keywords

# and =
# not
# and
# True
# False
# or
# for while
# if else if elif



# 5) No special characters are  used except underscore in variable declaration

# ! , @ , # , $ , % , ^ , & , * , ( , ) , - , +  , =

# Except _abc =

# 6) If your Variable is too long then write in single word dont put a gap in letters

# mynameisthisandthis =
# my_name_is_this_and_this =


# 7) Variables can be of  Unlimited length

In [ ]:
Comments :--
a = 57 #I've stored integer number in my variable a

Comments are of two types :-
Single Line Comments :-- # This is single line comments
Multiple Line Comments :-

"""
This
is
Multiple
Line
Comments

"""

In [ ]:
#Basics of Python

# DataType :-
# Standard DataType :--

# Numbers
# String
# List
# Tuple
# Dictionary
# Boolean
# Set

In [ ]:
#Boolean (True / False)

In [6]:
#Numbers :--
# Sub Datatypes :--
# 1) Integers (int datatype)
#     whole numbers values

a = 57
b = 76  # 76 is stored in b not like  b is equal to 76

print(a)

print(b)

print(a , b)

# I want to see it which type of data or value is stored in varaible

# type() :- its is function to determine the type of variable
print(type(a))

print(type(a) , a , type(b) , b)

57
76
57 76
<class 'int'> 57 <class 'int'> 76

In [6]:
# Floating point numbers(float Data Type):--
# E.g -0.5 , -3.14 , 256.32 ,-2.365 , -1350.0000 , 5610.234


float_1_negative = -0.5
float_2_positive = 5610.234



print(float_1_negative)

print(float_2_positive)


print(type(float_1_negative))



print(72e4)

# 72000
# 72000.00
# 72000.0
# Error


print(72e-3)

-0.5
5610.234
<class 'float'>
720000.0
0.072

In [16]:
# Complex Numbers(complex Data type)

complex_nos = 3+4j

com_nos2 = 5j

print(com_nos2)

print(complex_nos)

print(complex_nos.real)

print(complex_nos.imag)

print(complex_nos.conjugate)

print(type(com_nos2))

5j
(3+4j)
3.0
4.0
<built-in method conjugate of complex object at 0x7c92dd0a83f0>
<class 'complex'>

In [21]:
#String Data Type(str Data Type):--
# What is String?
#    String is collection of Characters(a , b , c , A, ,B , C, 4,5,8,9,!, @, # ,$)
#    that is enclosed in single Quotes or Double Quotes

s1 = "Hello" # This is Double-Quoted String
print(s1)

s2 = 'Hello'  # This is Single-Quoated String
print(s2)

print(type(s1))

print(type(s2))


# int Age = 30

# string name = "Hi"

# Declaration and Assignment

# a;  #Declaration :- we dont store any kind of data or value
# a = 10 #Assignment  :- We have Decalare the variable and we have given some data in that variable

Name = "Ganesh"
Age = 30


print(Name)
print(Age)


print("My name is ", Name , "and my age is ", Age)

Hello
Hello
<class 'str'>
<class 'str'>
Ganesh
30
My name is  Ganesh and my age is  30

In [31]:
#List[] (list DataType):-- It is an Order Collection of Items  and it is mutable
Ganes_EmpId = 41054

Piyus_EmpId = 454812

Priyanka_Empid = 455564

Emp_Ids_TATA  = [1,2,3,4,5,6,7,8,9,10]

Emp_Ids_infosys = [11,12,13,14,15,16,17,18,19,20]

Emp_Ids_Tesla = [100,200,300,400,500,600,700,800,900,1000]

Emp_Ids_TATA_infosys_Tesla = [[1,2,3,4,5,6,7,8,9,10] ,[11,12,13,14,15,16,17,18,19,20] ,[100,200,300,400,500,600,700,800,900,1000  ]]

print("The Employee IDs for TATA Company :--" ,Emp_Ids_TATA )


print(type(Emp_Ids_TATA_infosys_Tesla))

The Employee IDs for TATA Company :-- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [30]:
# Tuple() DataType (tuple Data Type):--
#   It is an Ordered Sequence of items same as list  and tuple is immutable

tuple_items = (11,2002,13,14,15,16,17,18,19,20)

print(tuple_items)

print(type(tuple_items))

(11, 2002, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [29]:
#Dictionary{} (dict datatype) :--
  #  It is an unordered Collection of Key-Value Pairs

dictionary= {"Name":"Ganesh" , "Age":54}

print(dictionary)


print(type(dictionary))

{'Name': 'Ganesh', 'Age': 54}
<class 'dict'>

In [37]:
#SET :--
    #  It is Unordered Collection of Items
    #  Every element/ items /values / datas inside the set  it must be unique


sets = {1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5}


LIST = [1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5]
print(type(sets))

print(sets)

days = {"Mon" , "Tues" ,"Weds" , "Thurs" , "Fri" , "Sat" ,"Sun" ,"Mon"}

print(days)

print(LIST)

<class 'set'>
{1, 2, 3, 4, 5, 6, 9, 93}
{'Sun', 'Mon', 'Weds', 'Tues', 'Thurs', 'Sat', 'Fri'}
[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 5, 5, 4, 4, 4, 9, 93, 3, 2, 1, 5]

In [ ]:
# Assignment Questions:--

In [4]:
#Question-1
# Create five Numbers Variables and Assign Some Values in it and display the Output of  that Variables

a = 10
b = 20.56
c = 3 + 6j
d = 100e-3
e = 56e3

print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")
print(f"e = {e}")

a = 10
b = 20.56
c = (3+6j)
d = 0.1
e = 56000.0

In [5]:
#Question-2
# Create Five String Variables and Assigns Some Values in it and display the Output of that Variables

a = "Akshay"
b = "Tushar"
c = "Rutik"
d = "Rushikesh"
e = "Rohit"

print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")
print(f"e = {e}")

a = Akshay
b = Tushar
c = Rutik
d = Rushikesh
e = Rohit

In [9]:
#Question-3
# Store Days of the week  in One Variable

week = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]
print(f"Week Days = {week}")


#Question-4
# Store at least 10  Floating point Number in one Variable

float_nos = [1.1,1.2,1.4,66.4,23e-3,23.4,445.455,12.88,299e-4]
print(f"Float Numbers = {float_nos}")

Week Days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
Float Numbers = [1.1, 1.2, 1.4, 66.4, 0.023, 23.4, 445.455, 12.88, 0.0299]

In [17]:
#Question-5
# Create a Dictionary to store the data of Square of the Given Nos upto 10

squares = {
    1:1,2:4,3:9,4:16,5:25,6:36,7:49,8:64,9:81,10:100
}

print(squares)

# to get square of 7 from dictionary squares
n = 7
print(f"Square of {n} = {squares[n]}")

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
Square of 7 = 49

In [20]:
#Question-6
# Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables

s1 = {"Sun","Mon","Tue","Wed","Thu","Fri","Sat"}
s2 = {"Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"}
s3 = {1,2,3,4,5,6,7,8,9,10}
s4 = {"Akshay","Tushar","Rutik"}
s5 = {1,2,4,16,25,36,49,64,81,100}


print(f"s1 = {s1}")
print(f"s2 = {s2}")
print(f"s3 = {s3}")
print(f"s4 = {s4}")
print(f"s5 = {s5}")

s1 = {'Tue', 'Thu', 'Mon', 'Sat', 'Fri', 'Sun', 'Wed'}
s2 = {'Oct', 'Dec', 'Sep', 'Jul', 'Jun', 'Jan', 'Mar', 'Feb', 'May', 'Apr', 'Nov', 'Aug'}
s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s4 = {'Rutik', 'Tushar', 'Akshay'}
s5 = {64, 1, 2, 4, 36, 100, 16, 49, 81, 25}

In [23]:
#Question-7
# Create Five Tuples Variables and Assigns Some Values in it and display the Output of that Variables

t1 = ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
t2 = ("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec")
t3 = (1,2,3,4,5,6,7,8,9,10)
t4 = ("Akshay","Tushar","Rutik","Akshay")
t5 = (1,2,4,16,25,36,49,64,81,100)

print(f"t1 = {t1}")
print(f"t2 = {t2}")
print(f"t3 = {t3}")
print(f"t4 = {t4}")
print(f"t5 = {t5}")

t1 = ('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')
t2 = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
t3 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
t4 = ('Akshay', 'Tushar', 'Rutik', 'Akshay')
t5 = (1, 2, 4, 16, 25, 36, 49, 64, 81, 100)

In [24]:
#Question-8
a = 72e3
# What is the meaning of a ?
# Ans : a is variable with data type float and a=72e3 means decimal point shifts 3 points right i.e 72 x 10^3 = 72000

print(a)

72000.0

In [26]:
#Question-9
b = 72e-5
# What is the meaning of a ?
# Ans : b is variable with data type float and b=72e-5 means decimal point shifts 5 points left i.e 72 x 10^-5 = 0.00072

print(b)

0.00072

In [30]:
#Question-10

# Create Five different data types of variables and Show the type of the variable:-

a = 20
b = "akshay"
c = [1,2,3,4,5]
d = (101,20,2020)
e = {1,2,6,8,3}

print(f"a = {a} -----> type = {type(a)}")
print(f"b = {b} -----> type = {type(b)}")
print(f"c = {c} -----> type = {type(c)}")
print(f"d = {d} -----> type = {type(d)}")
print(f"e = {e} -----> type = {type(e)}")

a = 20 -----> type = <class 'int'>
b = akshay -----> type = <class 'str'>
c = [1, 2, 3, 4, 5] -----> type = <class 'list'>
d = (101, 20, 2020) -----> type = <class 'tuple'>
e = {1, 2, 3, 6, 8} -----> type = <class 'set'>